body, html{
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0;
}

.profile img,
.chat img{
    min-width: 20px;
    min-height: 20px;
    width: 4vh;
    height: 4vh;
    margin: 0;
}

.logo img{
    min-width: 30px;
    min-height: 20px;
    width: 8vh;
    height: 4vh;
    margin: 0;
}

main{
    margin-top: 5px;
    height: 80vh;
}

main h1{
    display: inline;
    position: absolute;
    top: 70%;
    margin-left: .5em;
}

main p{
    display: inline;
    margin-left: 1em;
    position: absolute;
    top: 77%;
}

main h2{

    box-sizing: border-box;
    
    position: absolute;
    top: 10%;
    font-weight: bold;
    font-size: 65px;

    text-align: center;

    transform: rotate(-30deg);
    
}

main h2.liked{
    background: linear-gradient(to right, #29D78A, #6EF2F2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #29D78A, #6EF2F2);
}
main h2.nope{
    background: linear-gradient(to right,#F9655C, #F83574);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #F9655C, #F83574);
}
main img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 15px;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

button{
    margin-top: 5px;
    border: none;
    border-radius: 50%;
    padding: 1.5em;
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms;
}

button img{
    min-width: 20px;
    min-height: 20px;
    width: 4vh;
    height: 4vh;
}

#reject-button:hover{
    background: #FFE7EF;
    transform: scale(1.1);
}

#heart-button:hover{
    background: #DBFFF4;
    transform: scale(1.1);
}
